.app-container{
  background: #e4eaf6;
  height:calc(100vh - 64px);
  //width:25%;
  //客户 电工列表
  .customer-box{
    box-sizing: border-box;
    padding: 25px;
    background: #ffffff;
    width:15%;
    height: 100%;
    //position: absolute;
    float: left;
  }

  .box-map{
    //position: absolute;
    float: left;
    margin-left: 20px;
    width: 62%;
    height: 100%;
    //.outer-box{
    //  width: 100%;
    //  height: 100%;
    //}
    #container{
      width: 100%;
      height: 100%;
    }

  }

}
//.customer{
//  width: 30%;
//  height: 100%;
//}


