.app-container{
  width:25%;

  //客户 电工列表
  .customer-box{
    padding: 20px;
    width:20%;
    position: absolute;
    //float: left;
  }

  .box-map{
    //float: left;
   left: 350px;
    position: absolute;
  }

}
//.customer{
//  width: 30%;
//  height: 100%;
//}


